

    <div class="container-fluid maxWidth pos">      
      <div class="row">
        <div class="col-sm-4 profilePic">
          <img
            class="imgAdjust rounded"
            src="images/BioPic.jpg"
            alt="Profile Pic"
            width="120"
            height="150"
          />

          <ul>
            <li>Andrew Lawson</li>
            <li>Full Stack Web Developer</li>
            <li><a href="/webresources">Resources</a></li>
          </ul>
        </div>
        <div class="col-sm-8">
          <h2 class="textCenter">About Me</h2>
          <br />
          Looking for a full stack developer willing to take cafre of your
          startup and enterprise needs?
          <br />
          Say no more. I design and build highly scalable web interfaces that
          scream professionalism.
          <br />
          <br />
          <p>
            I have a diverse set of skills, ranging from design, to HTML + CSS
            +Javascript, all the way to REACT, custom Node.JS module development
            and Linux Server administration
          </p>
        </div>
      </div>
    </div>
